* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-image: url(img/anime_sky_scenery.png);
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
    letter-spacing: 1.5px;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
}

ul > li {
    list-style: none;
}

.card,
.reset-btn {
    cursor: pointer;
}

.btn {
    border-radius: 1em;
    border: none;
    color: #fff;
    box-shadow: 5px 2px 20px 0 rgba (46, 61, 73, 0.5);
    padding: 0.8em;
}

h1 {
    font-size: 3em;
    font-weight: 400;
}

h2 {
    font-size: 3.5em;
    font-weight: 600;
}

h3 {
    font-weight: 400;
}

p {
    font-size: 1.6em;
}

h1,
h2,
h3,
p {
    font-family: 'Indie Flower', cursive;
    color: aliceblue;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000000;
}

.score-panel {
    color: aliceblue;
    font-size: 1.4em;
    padding: 1em 0 2em;
}

.star-rating > li {
    display: inline-block;
    padding: 0.5e, ;
}

.moves-counter {
    padding: 0.5em;
}

.reset-btn {
    background: #000;
}

.timer-container {
    background: #fff;
    border-radius: 0.5em;
    color: #000;
    margin: 0.5em;
    padding: 0.5em;
}

.timer {
    font-size: 1em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 61, 73);
    background-color: rgba (46, 61, 73, 0.6);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 5% auto;
    border: 0.4em solid #fc4;
    padding-right: 2em;
    width: 80%;
}

.close {
    align-self: flex-end;
    color: #28e;
    font-size: 5em;
}

.close:hover,
.close:focus {
    color: #5cf;
    text-decoration: none;
    cursor: pointer;
}

.modal-img {
    display: inline-block;
    margin: 1em 0 1em;
    width: 20em;
}

p.stats {
    font-weight: 600;
}

p.stats:last-child {
    margin-bottom: 1em;
}

.play-again-btn {
    background: #28e;
    margin-bottom: 1em;
}

.deck {
    width: 90%;
    height: 600px;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    border-radius: 15px;
    margin: auto;
}

.deck,
.card {
    width: calc(20% - 30px);
    height: calc(20% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    border-radius: 15px;
}

.card {
    background-image: url(img/miku_hatsune.jpg);
    background-size: 150px;
    border-radius: 1em;
    width: 9em;
}

img {
    border-radius: 1.5em;
    user-select: none;
}

.deck img {
    visibility: hidden;
}

.deck .card.flip {
    background: #fff;
    cursor: default;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    pointer-events: none;
}

.flip img {
    background: #fff;
    visibility: visible;
}

.deck .card.match {
    visibility: visible;
    cursor: default;
    animation: pulse 1s;
}

.match img {
    background: #39d;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 550px) {
    .deck {
        height: 50em;
        padding: 0.5em;
        width: 50em;
    }

    .card {
        height: 10em;
        width: 10em;
    }

    .deck img {
        width: 9em;
    }

    .modal-content h2 {
        font-size: 4em;
    }

    .play-again-btn {
        font-size: 1.8em;
    }
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 6em;
    }

    p {
        font-size: 2.3em;
    }

    .deck {
        height: 50em;
        width: 130.5em;
        padding: 0.5em;
    }

    .card {
        height: 20em;
        width: 15em;
    }

    .deck img {
        width: 13em;
    }

    .reset-btn {
        background-color: cadetblue;
        border: none;
        border-radius: 4px;
        color: whitesmoke;
        padding: 7px 10px;
        text-align: center;
        font-size: 11.5px;
        font-weight: bold;
        margin: auto;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        display: flex;
    }

    .reset-btn:hover {
        background-color: aquamarine;
        text-shadow: 2px 2px 4px #000000;
        opacity: 1;
    }

    .modal-content h2 {
        font-size: 5em;
    }

    .modal-img {
        width: 30em;
    }

    .play-again-btn {
        font-size: 2em;
    }
}
